*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
}

.heading {
    background-color: #F3EED9;
}

.heading h1 {
    color: #824936;
}